/* all colors, tomorrow */
$red: #C82829;
$orange: #F5871F;
$yellow: #EAB700;
$green: #718C00;
$aqua: #3E999F;
$blue: #4271AE;
$purple: #8959A8;
$pink: #cc33ff;

$background: #2E003E;     // Deep purple background
$current_line: #4B0066;   // Darker purple for the current line
$selection: #803380;      // Muted purple for selections
$foreground: #E5D1FF;     // Light purple for text (foreground)
$comment: #A982B1;        // Soft lavender for comments
/*
$background: #000000;
$current_line: #101010;
$selection: #292929;
$foreground: #B2B2B3;
$comment: #71716F;
*/
/*
$background: #FFFFFF;
$current_line: #EFEFEF;
$selection: #D6D6D6;
$foreground: #4D4D4C;
$comment: #8E908C;
*/

/* tomorrow night 
$red: #CC6666;
$orange: #DE935F;
$yellow: #F0C674;
$green: #B5BD68;
$aqua: #8ABEB7;
$blue: #81A2BE;
$purple: #B294BB;

$background: #1D1F21;
$current_line: #282A2E;
$selection: #373B41;
$foreground: #C5C8C6;
$comment: #969896;
*/

/* Onelight 
$red: #D50000;
$orange: #D35400;
$yellow: #FF6F00;
$green: #24A443;
$aqua: #0086C1;
$blue: #0061FF;
$purple: #B500A9;

$background: #FAFAFA;
$current_line: #EEEEEE;
$selection: #E0E0E0;
$foreground: #5C6370;
$comment: #5C6370;
*/

/* site colors */
$primary: $red;

/* site theming */
/* naming convention: thing-location?-special? */
html {
  color: $foreground;
  background: $background;
  font-family: sans-serif;
  font-size: 1rem;
  padding: 0px;
  margin: 0px;
}

body {
  padding: 0px;
  margin: 0px;
}

/* header */
.nav-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: $current_line;
  margin: 0px;
}

.nav-header-left,
.nav-header-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}

.link-nav,
.link-nav-home,
.link-nav-outgoing {
  text-align: center;
  text-decoration: none;
  padding: 8px;
  margin: 0px;
  color: $foreground;
  border-bottom: $current_line 5px solid;
}

.link-nav-outgoing {
  margin-left: auto;
}

.link-nav:hover,
.link-nav-home:hover,
.link-nav-outgoing:hover {
  color: $foreground;
  background: $selection;
  border-bottom: $primary 5px solid;
}

.link-nav-image {
  display: inline-block;
  vertical-align: middle;
  height: 2ch;
}

.nav-page {
  margin-top: 5em;
  display: flex;
  justify-content: center;
}

.link-page {
  color: $pink;
}

/* article */
main {
  max-width: 100em;
  margin: auto;
  padding: 1em;
  margin-bottom: 10vh;
}

.articleDate {
  padding: 0px;
  font-size: 0.9rem;
}

.page-article img {
  width: 100%;
  height: auto;
}

.page-article a {
  color: $pink;
}

.page-article a:visited {
  color: $purple;
}

/* category list and post list */
.link-categoryList {
  color: $pink;
}

.link-categoryList:visited {
  color: $purple;
}

.nav-categoryList {
  display: flex;
  justify-content: left;
  max-width: 100em;
}

.link-postList {
  display: block;
  text-decoration: none;
  color: $foreground;

  padding: 1px 10px;
  margin: 30px 0px;
  border-left: $selection 5px solid;
}

.item-categoryList {
  padding-top: 10px;
  padding-bottom: 10px;
}

.link-postList:hover {
  background: $current-line;
  border-left: $primary 5px solid;
}

/* syntax highlighting */
.z-code {
  border-left: $selection 5px solid;
  padding: 10px 10px;
  overflow: auto;

  color: $foreground;
  background-color: $background;
}

.z-comment,
.z-string.z-quoted.z-double.z-block.z-python {
  color: $comment;
}

.z-keyword.z-operator.z-class,
.z-constant.z-other,
.z-source.z-php.z-embedded.z-line {
  color: $orange;
}

.z-variable,
.z-support.z-other.z-variable,
.z-string.z-other.z-link,
.z-string.z-regexp,
.z-entity.z-name.z-tag,
.z-entity.z-other.z-attribute-name,
.z-meta.z-tag,
.z-declaration.z-tag {
  color: $red;
}

.z-constant.z-numeric,
.z-constant.z-language,
.z-support.z-constant,
.z-constant.z-character,
.z-punctuation.z-section.z-embedded,
.z-keyword.z-other.z-unit {
  color: $orange;
}

.z-variable.z-parameter {
  color: $red;
}

.z-entity.z-name.z-class,
.z-entity.z-name.z-type.z-class,
.z-support.z-type,
.z-support.z-class {
  color: $purple;
}

.z-string,
.z-constant.z-other.z-symbol,
.z-entity.z-other.z-inherited-class,
.z-markup.z-heading {
  color: $green;
}

.z-keyword.z-operator,
.z-constant.z-other.z-color {
  color: $aqua;
}

.z-entity.z-name.z-function,
.z-meta.z-function-call,
.z-support.z-function,
.z-keyword.z-other.z-special-method,
.z-meta.z-block-level {
  color: $blue;
}

.z-keyword,
.z-storage,
.z-storage.z-type {
  color: $red;
}

.z-invalid {
  color: $background;
  background-color: $foreground;
}

.z-meta.z-separator {
  color: $background;
  background-color: $red;
}

.z-invalid.z-deprecated {
  color: $foreground;
  background-color: $background;
}

.z-markup.z-inserted.z-diff,
.z-markup.z-deleted.z-diff,
.z-meta.z-diff.z-header.z-to-file,
.z-meta.z-diff.z-header.z-from-file {
  color: $foreground;
}

.z-markup.z-inserted.z-diff,
.z-meta.z-diff.z-header.z-to-file {
  background-color: $green;
}

.z-markup.z-deleted.z-diff,
.z-meta.z-diff.z-header.z-from-file {
  background-color: $orange;
}

.z-meta.z-diff.z-header.z-from-file,
.z-meta.z-diff.z-header.z-to-file {
  color: $background;
  background-color: $red;
}

.z-meta.z-diff.z-range {
  color: $purple;
  font-style: italic;
}

.z-macro {
  color: $purple;
}

.z-struct {
  color: $purple;
}

.z-annotation {
  color: $purple;
}

/* line number */
.z-code td:first-child {
  color: $selection;
}

form[action="/search"] {
  margin: 10px 0;
}

form[action="/search"] input {
  padding: 5px;
  width: 200px;
}