<!DOCTYPE html>
<html lang="en">

{% if page.title %}
{% set title = page.title ~ ' - ' ~ config.title %}
{% elif section.title %}
{% set title = section.title ~ ' - ' ~ config.title %}
{% else %}
{% set title = config.title %}
{% endif %}

{% if page.description %}
{% set description = page.description %}
{% elif section.description %}
{% set description = section.description %}
{% else %}
{% set description = config.description %}
{% endif %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ get_url(path='/style.css', cachebust=true) }}">

  <title>{{ title }}</title>
  <meta name="title" content="{{ title }}" />
  <meta name="description" content="{{ description }}" />
  <meta name="theme-color" content="#C82829" />

  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ config.base_url }}" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:description" content="{{ description }}" />

  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="{{ config.base_url }}" />
  <meta property="twitter:title" content="{{ title }}" />
  <meta property="twitter:description" content="{{ description }}" />

  {% if config.generate_feed %}
  <link rel="alternate" type="application/atom+xml" title="Feed"
    href="{{ get_url(path=config.feed_filenames[0], trailing_slash=false) }}">
  {% endif %}
</head>

<body>
  {# all categories #}
  {% set categories = get_section(path="_index.md") %}

  {# Header with links to part of the site #}
  {% block header %}
  <header class="header">
    <nav class="nav-header">
      {# Root link #}
      <div class="nav-header-left">
        <a class="link-nav-home" href="{{ config.base_url }}">{{ config.title }}</a>
        {# links to the categories #}
        {% for category_index in categories.subsections %}
        {% set category = get_section(path=category_index) %}
        <a class="link-nav" href="{{ category.permalink }}">{{ category.title }}</a>
        {% endfor %}
      </div>
      <div class="nav-header-right">
        {% if config.extra.links %}
        {% for link in config.extra.links %}
        <a class="link-nav-outgoing" href="{{ link.href }}">
          {% if link.icon %}
          <img class="link-nav-image" src="{{ link.icon }}" alt="{{ link.title }}" />
          {% endif %}
        </a>
        {% endfor %}
        {% endif %}
      </div>
      <form action="/search" method="get">
        <input type="text" name="q" placeholder="Search...">
        <button type="submit">Search</button>
      </form>      
    </nav>
  </header>
  {% endblock header %}

  {% block content %}
  <main>
    {% if section.content %}
    <article>
      <h1>{{ section.title }}</h1>
      {{ section.content | safe }}
    </article>
    {% endif %}

    {# go over all pages in this category #}
    {% for category_index in categories.subsections %}
    {% set category = get_section(path=category_index) %}
    <article class="item-categoryList">
      <h2>{{ category.title }}</h2>
      {{ category.content | safe }}
      {% for post in category.pages | slice(end=5) %}
      <section> 
        <a class="link-postList" href="{{ post.permalink }}">
          <h3>{{ post.title }}</h3>
          {{ post.summary | safe }}
        </a>
      </section>
      {% endfor %}
      <div class="nav-categoryList">
        <a class="link-categoryList" href="{{ category.permalink }}">
          {{ "All " ~ category.title }}
        </a>
      </div>
    </article>
    {% endfor %}
    <div class="nav-page">
      <a class="link-page" href="#top">Back to top</a>
    </div>
  </main>
  {% endblock content %}
</body>
<script src="{{ config.base_url }}/search_index.en.js"></script>

</html>
