{% extends "page.html" %}

{% block content %}
<main>
    <article>
        {% if section.content %}
        <h1>{{section.title}}</h1>
        {{ section.content | safe }}
        {% endif %}
        {% for post in paginator.pages %}
        <section class="item-postList">
        <a class="link-postList" href="{{ post.permalink }}">
        <h3>{{ post.title }}</h3>
        {{ post.summary | safe }}
        </a>
        </section>
        {% endfor %}
    </article>
    <div class="nav-page">
        {% if paginator.previous %}
        <a class="link-page" href="{{ paginator.previous }}">Previous</a>
        {% endif %}
        <a class="link-page" href="#top">Back to top</a>
        {% if paginator.next %}
        <a class="link-page" href="{{ paginator.next }}">Next</a>
        {% endif %}
    </div>
</main>
{% endblock %}